html {
  background-color: brown;
  margin: 0px;
  padding: 0px;
}

footer {
  margin-bottom: 0px;
  position: fixed;
  margin-left: -8px;
  width: 100%;
  background-color: black;
  color: white;
}

footer p {
  text-align: center;
  padding: 4px;
  font-size: 1em;
}

/* container*/

.container {
  position: relative;
  max-width: 900px;
  height: 400px;
  color: black;
  background: white;
  border-radius: 10px;
  padding-right: 40px;
  padding-left: 40px;
  margin: auto;
  margin-bottom: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

.container h2 {
  color: black;
  font-size: 2rem;
}

.mainTitulo {
  font-size: 2rem;
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  font-family: fantasy;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/*textos*/

.text {
  text-align: justify;
}

.alinhar-center {
  text-align: center;
}

.subTitulo {
  color: rgb(126, 142, 214);
}

/*linha*/
.linha {
  border-bottom: 2px solid black;
}

/*ScrollBar Pagina*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(126, 142, 214);
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(14, 14, 77);
}

/*alinha elementos*/

.alinhar-elementos {
  display: flex;
}

/*Avatar*/

.avatar {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}



/*Media queries*/
@media only screen and (max-width: 500px) {
  .mainTitulo {
    font-size: 1.2rem;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
  }
  
}